name: originator-profile/originator-profile.org/test
on: push
jobs:
  main:
    runs-on: ubuntu-latest
    # format ステップで新しいコミットを push するために write 権限を与える
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: "./.github/actions/setup"
      - name: Format
        uses: "originator-profile/originator-profile/.github/actions/format@main"
